:root {
    --bg-color1: #1a1a1a;
    --bg-color2: #2a2b2d;   
    --btn-color1: #fff;
    --btn-color2: #31ab9e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color1);
    color: var(--btn-color1);
    font-family: sans-serif;
    padding: 0 15px;

}

.header {
    position: sticky;
    top: 0;
    background-color: var(--bg-color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px 0;

    & #city_input {
        background-color: var(--bg-color2);
        border: none;
        padding: 12px;
        font-size: 16px;
        border-radius: 25px;
        color: var(--btn-color1);
        &:focus {
            outline: none;
        }
    }

    & #searchBtn {
        border: none;
        font-size: 16px;
        padding: 12px;
        border-radius: 25px;
        background-color: var(--btn-color1);
        cursor: pointer;
    }

    & #locationBtn {
        border: none;
        font-size: 16px;
        padding: 12px;
        border-radius: 25px;
        background-color: var(--btn-color2);
        cursor: pointer;
    }
}

.card {
    background-color: var(--bg-color2);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}